body {
  font-family: sans-serif;
  text-align: center;
  background: #FDFDFA;
}

/* Nút ngôn ngữ */
.lang-switch {
  margin: 10px;
}

.lang-switch button {
  padding: 10px 14px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  transition: 0.2s;
}

/* ACTIVE NGÔN NGỮ */
.lang-switch button.active {
  background: #ff9800;
  color: white;
  font-weight: bold;
  border-color: #ff9800;
}

/* Accordion */
.acc-btn {
  width: 90%;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: #eaeaea;
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.2s;
}

.acc-btn:hover {
  background: #ddd;
}

/* Nội dung */
.acc-content {
  display: none;
  padding: 10px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
}

/* Card */
.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

/* Hover */
.card:hover {
  transform: scale(1.05);
}

/* Click feedback */
.card:active {
  transform: scale(0.97);
}

/* Ảnh */
img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Text */
.card p {
  margin-top: 6px;
  font-size: 14px;
}
